<form>
    <div class="form-group">
        <label>Identificacion</label>
        <input type="text" name="identificacion" id="identificacion" class="form-control" [(ngModel)]="persona.identificacion">
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control" id="nombre" [(ngModel)]="persona.nombre">
    </div>
    <div class="form-group">
        <label>Apellido</label>
        <input type="text" name="apellido" id="apellido" class="form-control" [(ngModel)]="persona.apellido">
    </div>
    <div class="form-group">
        <label>Hotel</label>
        <select type="text" name="hotel" id="hotel" class="form-control" [(ngModel)]="persona.hotel">
        <option value="HB">HOTEL BUENAVISTA</option>
        <option value="HBC ">HOTEL BALCON DEL CESAR</option>
        <option value="HC">HOTEL CHIMILA</option>
</select>
    </div>
    <div class="form-group">
        <label>Fecha de Hospedaje</label><br>
        <input id="fecha" name="fecha" type="date" [(ngModel)]="persona.fecha" min="2018-01-01" max="2025-12-31">
    </div>
    <div class="form-group">
        <label> SU TARIFA ES $ {{persona.tarifa}}</label>
    </div>
    <button type="submit" (click)="add()" class="btn btn-primary">Submit</button>
</form>