<form>
    <div class="form-group">
        <label>Identificacion</label>
        <input type="text" class="form-control" [(ngModel)]="hotel.identificacion">
    </div>
    <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control" [(ngModel)]="hotel.nombre">
    </div>
    <div class="form-group">
        <label>Apellido</label>
        <input type="text" class="form-control" [(ngModel)]="hotel.Apellido">
    </div>
    <div class="form-group">
        <label>Hotel</label>
        <select type="text" class="form-control" [(ngModel)]="hotel.hotel">
        <option value="HB">HOTEL BUENAVISTA</option>
        <option value="HBC ">HOTEL BALCON DEL CESAR</option>
        <option value="HC">HOTEL CHIMILA</option>
</select>
    </div>
    <div class="form-group">
        <label>Fecha de Hospedaje</label><br>
        <input type="date" [(ngModel)]="hotel.fecha" min="2018-01-01" max="2025-12-31">
    </div>
    <div class="form-group">
        <label> SU TARIFA ES $ {{hotel.tarifa}}</label>
    </div>
    <button type="submit" (click)="RH" class="btn btn-primary">Submit</button>
</form>